.bodyContainer {
  width: 100%;
  display: flex;
  overflow-x: auto;
  scrollbar-color: transparent transparent;
  user-select: none;
  background-color: transparent;
}

.imgStyle {
  transition: transform 0.3s ease-in-out;
}

.imgStyle:hover {
  transform: scale(1.1);
}

@media (max-width: 399px) {
  .cardConatiner {
    border: 2px solid #a19f9d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
    height: 335px;
    border-radius: 10px;
    width: 90%;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .cardConatiner {
    border: 2px solid #a19f9d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
    height: 395px;
    border-radius: 10px;
    width: 90%;
  }
}

@media (min-width: 768px) {
  .cardConatiner {
    border: 2px solid #a19f9d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
    height: 335px;
    border-radius: 10px;
    width: 90%;
  }
}
