/* HorizontalScroll.module.css */

.bodyContainer {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  scroll-behavior: smooth;
  gap: 20px; /* Space between items */
  scrollbar-width: none;
}

.cardContainer {
  flex: 0 0 auto;
  width: 300px; /* Adjust width as needed */
  border: 1px solid #a19f9d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
}

.imgStyle {
  transition: transform 0.3s ease-in-out;
}

.imgStyle:hover {
  transform: scale(1.1);
}

.textContent {
  text-align: left;
  margin-top: 25px;
}

.textContent h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.textContent p {
  font-size: 14px;
  margin: 5px 0;
}

@media (max-width: 399px) {
  .cardContainer {
    width: 80%;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .cardContainer {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .cardContainer {
    width: 300px; /* Standard width for larger screens */
  }
}
