/* SingleNews.module.css */

.imageContainer {
  position: relative;
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px;
}

.imgStyle {
  border-radius: 10px;
  object-fit: cover; /* Ensures the image covers the container */
  object-position: center; /* Centers the image within the container */
}

/* Media queries */
@media (max-width: 600px) {
  .imgStyle {
    height: auto;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .imgStyle {
    height: auto;
  }
}

@media (min-width: 768px) {
  .imgStyle {
    height: auto;
  }
}

@media (min-width: 992px) {
  .imgStyle {
    height: auto;
  }
}

@media (min-width: 1200px) {
  .imgStyle {
    height: auto;
  }
}
